@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
    outline: none;
    color: #333333;
}